*{
    margin: 0;
    padding: 0;
    font-family: 'Hind',sans-serif;
    
}
body{
    background-color: #dfeb3f;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.book{
    background-color: aliceblue;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    perspective: 600px;
    position: relative;
    
}
.book::before{
    content: '';
    position: absolute;
    z-index: 5;
    width: 50%;

    height: 100%;
    right: 50%;
    background-color: rgb(245, 120, 18);;
    border-radius: 20px 0 0 20px;
    transform-origin: center right;
    transform: rotateY(180deg);
    transition: 0.7s ease all;
}
.book:hover::before{
    transform: rotateY(0deg);
    
}
.book .pg{
    position: absolute;
    width: 50%;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    color: #fff;
    align-items: center;
    display: flex;
    top:0 ;
    bottom: 0;
    display: flex;
    font-weight: bold;
}
.book .pg.pg1{
    border-radius: 20px 0 0 20px;
    left: 0;
    background-color: rgb(245, 18, 86);
}
.book .pg.pg2{
    background-color: rgb(12, 84, 218);
    right: 0;
    border-radius: 0 20px 20px 0;
}